body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: rgb(59, 59, 59);
  }
  
  @keyframes blinking {
    0%{
      background-color: #ff3d50;
      border: 5px solid #871924;
    }
    /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT
    50%{
      background-color: #55d66b;
      border: 5px solid #126620;
    }
    */
    100%{
      background-color: #222291;
      border: 5px solid #6565f2;
    }
  }
  .statusdemo{
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
    color: seashell;
    font-size: 18px;
    font-weight: bold;
    animation: blinking 1s infinite;
  }
  .moves {
    text-align: center;
  }

  .movebutton {
    background: rgb(48, 70, 70);
    color: rgb(247, 243, 243);
    border: 2.5px solid #0ce8f8; 
    transition-duration: 0.3s;
    width: 160px;
    height: 50px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
  }

  .movebutton:hover {
    background-color: #fa8500;
    color: white;
  } 
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
    color: seashell;
    font-size: 18px;
    font-weight: bold;
  }
  
  .square {
    background: rgb(133, 130, 130);
    border: 2.5px solid rgb(29, 211, 243);
    float: left;
    font-size: 104px;
    font-weight: bold;
    color: rgb(253, 253, 253);
    line-height: 144px;
    height: 144px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 144px;
    transition-duration: 0.3s;
  }

  .square:hover {
    background-color: #470350; /* Green */
    color: white;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
    width: 200px;
    background: rgb(133, 130, 130);
    border: 2px solid rgb(29, 211, 243);
  }
  